html {
    font-size: 18px;
}

body {
    color: #212529;
    background-color: #FFF;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 70px;
    font-weight: 500;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: 0;
}

input[type="submit"] {
    width: 100%;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
    color: #17C671;
    border: 2px solid #17C671;
    padding: 13px 16px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #17C671;
    box-shadow: 0 10px 30px 0 rgba(165,160,160,0.32);
}

input[type="text"] {
    width: 100%;
    color: #C1C1C3;
    padding: 10px 0;
    border-bottom: 2px solid #C1C1C3;
    outline: none;
}

input[type="text"]:focus {
    color: #838383;
    border-bottom: 2px solid #838383;
}

input[type="text"]:invalid {
    outline: none;
    box-shadow: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.green-text {
    color: #17C671;
}

.after-center::after {
    margin: 0 auto;
}

.float-right {
    float: right;
}

.btn {
    display: inline-block;
    padding: 10px 35px;
    font-weight: 900;
    font-size: 0.9rem;
    border-radius: 22.5px;
    line-height: 22px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.btn-green-border {
    color: #17C671;
    border: 2px solid #17C671;
}

.btn-white-border {
    color: #fff;
    border: 2px solid #FFFFFF;
}

.btn-green-border:hover,
.btn-white-border:hover {
    color: #fff;
    border: 2px solid transparent;
    background-color: #17C671;
    box-shadow: 0 10px 30px 0 rgba(165,160,160,0.32);
}

.top-bar {
    border-bottom: 1px solid #E9E9E9;
}

.top-bar__menu {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    padding: 10px 0;
    white-space: nowrap;
}

.top-bar__menu li:first-child{
    margin: 0;
}

.top-bar__menu li {
    margin: 0 0 0 50px;
}

.top-bar__menu li a {
    color: #17C671;
}

.top-bar__menu li a:hover {
    color: #C1C1C3;
    text-decoration: underline;
}

.page-header__logo {
    height: 47px;
    width: 254px;
}

nav {
    width: 100%;
}

.page-header__nav {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 900;
    white-space: nowrap;
}

.top-bar__menu li:first-child{
    margin: 0;
}

.page-header__nav li {
    position: relative;
}

.page-header__nav  a {
    padding: 35px 0;
    display: flex;
    color: #C1C1C3;
}

.page-header__nav  a:hover,
.page-header__nav  a.active {
    color: #17C671;
}

.page-header__nav--contact {
    display: block;
    white-space: nowrap;
    color: #17C671;
    border: 2px solid #17C671;
    padding: 13px 16px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.page-header__nav--contact:hover {
    color: #FFF;
    background-color: #17C671;
    box-shadow: 0 10px 30px 0 rgba(165,160,160,0.32);
}

.dropdown,
.submenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #909090;
    z-index: 999;
    padding: 0 0 15px 0;
}

.dropdown a,
.submenu a {
    padding: 15px 20px 0 20px;
}

.submenu {
    top: -1px;
    left: 100%;
}

.have-submenu::after,
.have-dropdown::after  {
    content: url(../svg/dropdown-arrow.svg);
    margin-left: 10px; 
}

.have-submenu::after {
    transform: rotate(270deg);
}

.have-submenu-open::after {
    transform: rotate(90deg);
}

.have-submenu-open,
.have-dropdown-open {
    color: #17C671 !important;
}

.hero-img {
    padding: 150px 0;
    background: url(../img/hero_img.png) no-repeat center center;
    background-size: cover;
    color: #FFFFFF;
}

.hero-img p {
    padding: 25px 0 50px 0;
    font-size: 1rem;
    line-height: 33px;
}

.companies {
    padding: 25px 0;
    margin: 0 0 100px 0;
    background-color: #F6F6F6;
}

.companies img{
    width: 150px !important;
}

.customers-box {
    padding: 75px 100px;
    border: 1px solid #EAEAEA;	
    border-radius: 10px;	
    background-color: #FFFFFF;	
    box-shadow: 0 30px 60px 0 rgba(192,192,192,0.22);
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer__avatar {
    width: 100px;
}

.customer__logo {
    width: 150px;
}

.customer__info {
    padding: 0 0 0 30px;
}

.customer__info--name {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 36px;

}

.customer__info--note {
    color: #C1C1C3;
    font-size: 1rem;
    line-height: 27px;
}

.customer__info ul {
    margin: 15px 0 0 0;
}

.customer__info ul li {
    line-height: 27px;
}

.customer__rate {
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.customer__rating {
    display: flex;
    justify-content: space-between;
    margin: 0 0 13px 0;
}

.customer__rating span {
    font-size: 1rem;
}

.customer__stars {
    display: flex;
    justify-content: center;
}

.customer__stars li::before{
    display: inline-block;
    width: 15px;
    height: 15px;
    content: url('../svg/green-star.svg');
    margin-left: 4px
}

.customer__stars--grey::before {
    content: url('../svg/grey-star.svg') !important;    
}

.content-row {
    margin: 50px 0;
}

.content h2 {
    color: #212529;
    font-size: 2rem;
    line-height: 48px;
    font-weight: 500;
}

.content h3 {
    color: #212529;
    font-size: 1.3rem;
    line-height: 36px;
    font-weight: 500;
    margin: 0;
}

.content h2::after {
    content: "";
    display: flex;
    height: 4px;	
    width: 45px;
    margin-top: 25px;
    background-color: #17C671;
}

.content p {
    color: #838383;
    font-size: 1rem;	
    line-height: 33px;
    padding: 25px 0;
}

.fixed-price {
    margin: 115px 0 0 0;
}

.fixed-price__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 215px;
    border: 1px solid #838383;	
    border-radius: 10px;
    padding: 20px;
    margin: 0 40px 0 0;
}

.fixed-price__box span {
    color: #17C671;
    box-sizing: border-box;
    font-size: 2.3rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #838383;
    padding: 40px 0 60px 0;
}

.fixed-price__box p {
    text-align: center;
}

.fixed-price__images {
    position: relative;
}

.absolute-img {
    position: absolute;
    right: 0;
    top: -50px;
}

.works-item {
    margin: 0 0 40px 0; 
}

.works-item img {
    float: left;
    margin: 0 20px 0 0;
}

.works-item__text {
    display: flex;
    flex-flow: column;
    padding: 10px 0 0 0;
}

.works-item__text p {
    padding: 10px 0;
}

.video-container {
    position: relative;
}

.video-container__play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.contact-img {
    padding: 275px 60px 0 0;
}

.grey-bg {
    margin: 125px 0 0 0;
    background-color: #F6F6F6;
    border-radius: 10px 0 0 0;
    padding: 85px 105px 50px 105px;
}

.contact-form-bg {
    display: flex;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 60px 100px 0 rgba(33,37,41,0.13);
    margin: 45px 0 0 0;
    padding: 40px 65px;
}

.contact-form {
    width: 100%;
}

.contact-input {
    margin-bottom: 30px;
}

.contact-submit {
    margin-top: 30px; 
}

.page-footer {
    background-color: #212529;
    font-size: 0.8rem;
    line-height: 30px;
    color: #838383;
    padding: 70px 0 110px 0;
}

.page-footer h4 {
    margin: 0 0 25px 0;
    font-size: 1.3rem;
    font-weight: 900;
    color: #17C671;
}

.page-footer ul li a {
    color: #838383;
}

.page-footer ul li a:hover {
    color: #17C671;
}

.page-footer__social {
    display: flex;
}

.page-footer__social img {
    opacity: 0.25;
    transition: all 0.2s ease;
}

.page-footer__social a:hover img {
    opacity: 1;
}

.page-footer__social li {
    margin: 0 28px 0 0;
}

.page-footer__social li:last-child {
    margin: 0;
}

.dots-customer {
    padding: 65px 0 30px 0;
    justify-content: center;
}

.dots-works {
    margin-right: 70px;
    padding: 20px 0 70px 0;
    justify-content: center;
}

.owl-dot {
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;
    margin-right: 15px;
}

.owl-dot span {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #d1d1d1;
    border-radius: 50%;
}

.owl-dot:hover span {
    cursor: pointer;
    background-color: #dfdfdf;
}

.owl-dot.active span {
    background-color: #17C671 !important;
}

.owl-dot:last-child {
    margin: 0;
}